*{
    margin: 0;
}

body{
    
    margin: 0;
    width: 100%;
    
}
.head{
    margin-top: 0;
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
    height: 60px;
}

.container{
    display: inline-flex;
    text-align: right;
}




.mail{
    height: 30px;
    width: 100%;
}
.h1-1{
    color: rgb(47, 0, 255);
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
     font-style: italic;
     text-decoration: underline;
}
.item{
    text-align: right;
    margin-left: 200px;
    padding-top: 10px;
    padding-left:500px;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 15px;
    
     
 }
 

#align{
    display: inline;
    padding-left: 10px;
    padding-top: 5px;
}
.div-1{
    padding: 14px;
    
   display: inline-flex;
   
  
 }
 .menu-item{ 
    display: inline;
    border: none;
    color: black;
   
    
    
}
.menu-item a{
    color: black;
    text-decoration: none;
}
 .border{
     border: none;
 }
 .border:hover{
     background-color: yellowgreen;
     transition: ease-in-out;
     transition-duration: 2s;
 }
 #link{
    text-decoration: none;
    color: black;
}
#button{
    background-color: chartreuse;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 0;
    border-radius: 5px;
}

#section-1{
    position: relative;
    height: 650px;
    width: 100%;
    
   
}
.centre-2{
    display: none;
}
.text-1{
    position: absolute;
    bottom: 60%;
    left: 30%;

}
.text-2{
    position: absolute;
    bottom: 48%;
    left: 25%;
    padding: 20px;
    text-align: center;
    word-spacing: 5px;
    
}
.text-1 h1{
     
    font-style: normal;
    font-weight: bolder;
    word-spacing: 7px;
    letter-spacing: 7px;
}
.test-2a{
    display: none;
}
#p-3{
    display: none;
}
.table-1{
    width: 100%;
    height: 600px;
}
.table-1a{
    display: none;
}

.table-1 tr td{
    border:none;
}
#td-1{
    background-color: #5acda6;
}
#td-2{
    background-color: #91ac41;
}
#td-3{
    background-color: #e4b476;
}
#td-4{
    background-color: #f69dad;
}
.sic{
    color: white;
    text-align: center;
    text-size-adjust: 24px;
}
.step-1{
    text-align: center;
}
#table-2{
    width: 100%;
    height: 600px;
    background-color: #f7eee2;
    padding-left: 30px;
}
#table-2a{
    display: none;
}
#heading{
    text-align: center;
}
.h2-1{
    word-spacing: 10px;
    letter-spacing: 5px;
}
.p-1{
    font-weight: lighter;
    letter-spacing: 1px;
    word-spacing: 3px;
}

#section-4{
    width: 100%;
    height: 650px;

}
#fresh{
    margin: 0;
    margin-top: 35px;
    color: #91ac41;
    font-family: cursive;
    text-align: center;
    font-style: italic;
}
#heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
     

}
#testimonial{
   margin-left: auto;
   margin-right: auto;

}
#testimonial-2{
    display: none;
}
#statement{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #8b8b99;
    letter-spacing: 0.5px;
}
.card{
    height: 60px;
   background-color: #f5f6fb;
   border-top-left-radius: 45px;
   border-bottom-left-radius: 45px;
   border-bottom-right-radius: 45px;
   border: 10px solid white;
  

}
.card img{
    display: block;
   margin-left: auto;
   margin-right: auto;
    border-radius: 50%;
}
.card p{
    text-align: center;
    font-style: italic;
    letter-spacing: 0.5;
    font-family:'Poppins', sans-serif ;
    
}
.card h3{
    text-align: center;
}
.card:hover{
    background-color: gray;
    
    transition:ease-in 5s, ease-out 5s;
}
#section-5{
    width: 100%;
    height: 600px;
    display: flex;
    
}
#div-img{
    display: inline-block;
    width: 75%;
    
}
aside{
    display: inline-block;
    width: 25%;
    position: relative;
     vertical-align: top;
}
#div-items{
    position: absolute;
    top: 20%;
    left: 20%;
   

}
#div-items h1{
    font-size: 35px;
}
.btn-sub{
    background-color: #f69dad;
    padding: 10px;
    color: blanchedalmond;
    border-radius: 4px;
}
.btn-sub:hover{
    background-color: cornsilk;
    border: 1px solid red;
    color: crimson;
}

#section-6{
    width: 100%;
    height: 300px;
    background-color: lightgreen;
    margin-top: 0;
}
#stat{
    padding-top: 120px;
    margin: auto;
    
}

#stat-b{
    display: none;
}

.data-1{
    border-left: 100px solid lightgreen;
  text-align: center;
}
.comp{
    color:cornflowerblue;
}

#section-7{
    width: 100%;
    height: 480px;
}

#vim-vid{
    text-align: center;
    padding-top: 50px;
    font-weight: lighter;
    color: gray;
}

.vid{
 margin: 0;
 margin: auto;
padding-left: 500px;
}

.vid-b{
    display: none;
}

#section-8{
    width: 100%;
    height: 650px;
}
#last-page{
    height: 600px;
    margin: 0;
    margin: auto;
}

#last-page2{
    display: none;
}
.td-2{
    border: 50px solid white;
}
.td-2 h5{
    color: limegreen;
    font-style: italic;
}

.last-btn{
  background-color: limegreen;
    padding: 13px;
    padding-left: 16px;
    color: white;
}

.box{
    width: 250px;
    height: 30px;
}
.f-t{
    background-color: grey;
     color: honeydew;
    height: 50px;
    width: 100%;
    padding-top: 20px;
}

footer p{
      text-align: center;
      background-color: grey;
      color: honeydew;
      
     
}
footer p a{
    text-decoration: none;
    color: honeydew ;
}

@media only screen and (max-width: 720px) {
    
   
   .del{
        display: none;
    }
    .head{
        margin-top: 0;
       
        background-color: white;
        width: 400px;
        height: 60px;
    }
    .item{
        text-align: left;
        margin-left: 40px;
        padding-top: 10px;
        padding-left:100px;
        display: inline;
        margin-top: 0;
        margin-bottom: 15px;
        
         
     }
     #section-1{
        position: relative;
        height: 650px;
        width: 400px;
        
       
    }
     .text-1{
        position: absolute;
        bottom: 60%;
       left: 10%;
       word-spacing: 0;
       letter-spacing: 0;
       text-align: center;
        
    
    }
    .centre{
        display: none;
    }
    .centre-2{
        display: inline;
        text-align: center;
    }
    .text-2a{
        position: absolute;
        bottom: 40%;
        left: -5%;
       
        text-align: left;
        
    }
    .test-2{
        display: none;
    }
    .text-1 h1{
     
        font-style: normal;
        word-spacing: 5px;
        letter-spacing: 5px;
        
        
    }
    #p-1{
        display: none;
    }
    #p-2{
        display: none;
    }
    #p-3{
        display: block;
        text-align: center;
    }

.table-1{
    display: none;
}
.table-1a{
    width: 340px;
    height: 1200px;
    display: inline-table;
   
}
.t-1 td{
    width: 400px;

}
.table-1a tr td{
    border:none;
}
.tr-1a p{
    align-items: center;
}
#td-1{
    background-color: #5acda6;
    
}
#td-2{
    background-color: #91ac41;
}
#td-3{
    background-color: #e4b476;
}
#td-4{
    background-color: #f69dad;
}
#table-2{
    display: none;
}


#table-2a{
    display: inline-table;
    width: 320px;
    height: 1200px;
    background-color: #f7eee2;
}
#heading{
    text-align: center;
}
.h2-1{
    word-spacing: 1px;
    letter-spacing: 1px;
}
.p-1{
    font-weight: lighter;
    letter-spacing: 1px;
    word-spacing: 3px;
}

    .centre, h2, p{
        text-align: center;
    }

    #testimonial{
        display: none;
    }
    #testimonial-2{
        display: inline;
        height: 600px;
    }

    #section-4{
        width: 100%;
        height: 1220px;
    
    }
    .div-4 {
        width: 300px;
    }
    .card {
        padding-top: 20px;
    }

    .card  p{
        padding-bottom: 10px;
    }
    #section-5{
        width: 100%;
        height: 1200px;
        display: block;
        border: 0;
    }
   
    #div-img{
        display: inline-table;
        width: 75%;
        border: 0;
       
        
    }
    aside{
        display: inline-table;
        width: 320px;
        position: relative;
        
         margin-top: 0;
    }
    #div-items{
        position: absolute;
        top: 20%;
        left: 20%;
       
    
    }
    #div-items h1{
        font-size: 35px;
    }
    .btn-sub{
        background-color: #f69dad;
        padding: 10px;
        color: blanchedalmond;
        border-radius: 4px;
    }
    .btn-sub:hover{
        background-color: cornsilk;
        border: 1px solid red;
        color: crimson;
    }
    #section-6{
        width: 100%;
        height: 600px;
        background-color: lightgreen;
        margin-top: 0;
    }

    #stat{
        display: none;
    }

    #stat-b{
        display: inline-table;
        height: 600px;
    }

    #section-7{
        width: 300px;
        height: 480px;
    }
    
    #vim-vid{
        text-align: center;
        padding-top: 50px;
        font-weight: lighter;
        color: gray;
    }
    
    .vid{
     margin: 0;
     margin: auto;
    padding-left: 50px;
    }

    .vid-a{
        display: none;
    }

    .vid-b {
        display: inline;
    }

    #section-8{
        width: 300px;
        height: 1200px;
    }

    #last-page {
        display: none;
    }

    #last-page2{
        display: inline-table;
        height: 1200px;
        width: 300px;
        margin: 0;
    }

    #last-page2,   p,  h2{
        padding-left: 0;
        text-align: left;

    }

    .box{
        padding: 2px;
    }

    .td-2{
        border: 0;
    }

    .f-t{
        background-color: grey;
         color: honeydew;
        height: 50px;
        width: 600px;
        padding-top: 20px;
    }
    footer p{
        text-align: left;
        background-color: grey;
        color: honeydew;
        
       
  }
    

   

}

